<div class="col-xs-12">
  <div>
    <!-- <br />
    <br /> -->
    <span><h2>כמה אורחים מגיעים?</h2></span>
    <div class="buttons-container">      
      <div id="plus" (click)="incAttending()">
        <img src="assets/images/count_inc.png" alt="click to increase amount of confirmed guests" />
      </div>
      <input type="text" name="guest_amount" id="numberInput" value="{{ guestStatus.attending }}" readonly="readonly" />
      <div id="minus" (click)="decAttending()">
        <img src="assets/images/count_dec.png" alt="click to decrease amount of confirmed guests" />
      </div>
    </div>
  </div>

  <!-- <div class="buttons-container">
    <img src="assets/images/flowers_left.png" style="float: left; position: absolute;" />
    <br />
    <img src="assets/images/flowers_right.png" style="float: right; position: absolute;" />
  </div> -->
  
  <span><h2>אנא אשרו הגעתכם</h2></span>
  <div class="buttons-container" style="column-gap: 40px;">
    <div (click)="updateStatus(rsvpType.yes)">
      <img src="assets/images/invite_yes.png" />
      <!-- <button class="button-form" type="submit" id="btnYes" (click)="updateStatus(rsvpType.yes)"></button>
      <span class="form-status">מגיע/ה</span> -->
    </div>
    <div (click)="updateStatus(rsvpType.maybe)">
      <img src="assets/images/invite_maybe.png" />
      <!-- <button class="button-form" type="submit" id="btnMaybe" (click)="updateStatus(rsvpType.maybe)"></button>
      <span class="form-status">אולי מגיע/ה</span> -->
    </div>
    <div (click)="updateStatus(rsvpType.no)">
      <img src="assets/images/invite_no.png" />
      <!-- <button class="button-form" type="submit" id="btnNo" (click)="updateStatus(rsvpType.no)"></button>
      <span class="form-status">לא מגיע/ה</span> -->
    </div>
  </div>
  <!-- <div class="form-title" id="select-answers-error" style="color: #f00">
    לא נבחרה תשובתכם לשאלה. אנא בחרו תשובה ולאחר מכן נסו שנית
  </div> -->
</div>