<div>
  <div *ngIf="this.guestName$; else loading" accept-charset="UTF-8">
    <img class="top-flowers" src="assets/images/flowers_top.png" alt="Top Flowers Image">
    <img class="right-flowers" src="assets/images/flowers_right.png" alt="Right Flowers Image">
	  <img class="left-flowers" src="assets/images/flowers_left.png" alt="Left Flowers Image">
    <app-event-static-info [guestFirstName]="this.guestName$"></app-event-static-info>
    <app-status-select [guestInviteCode]="this.inviteCode$"></app-status-select>
    <img class="bottom-flowers" src="assets/images/flowers_bottom.png" alt="Bottom Flowers Image">
  </div>
  <ng-template #loading>
    <h2 id="loading-prompt">..הגעת הנה לפנינו</h2>
    <img id="loading-animation" src="assets/images/rafael-mantesso-jimmychoo.gif" alt="running dog while loading page">
  </ng-template>
  <div id="status_wrong_number" 
    (click)="showHelp('התקשרו לשירלי או ליועד ובקשו מהם לעדכן הגעה במערכת הרישום בצורה ידנית')">
    ?משהו לא עובד
  </div>


</div>