<div id="guestLanding" class="col-xs-12 guest-landing">
  <header id="logo" class="col-xs-12">
  </header>
  <div id="main" class="col-xs-12">
    <div
      id="thumbnail"
      class="img-wrap col-xs-12"
      style="
        background-image: url('/assets/images/arya-02.jpg');
        background-position: center center;
      "
    ></div>
    <!-- <div id="border" class="col-xs-12"></div> -->

    <div id="content" class="col-xs-12">
      <form
        action="https://l.e2grsvp.com/e/378620854/select"
        id="form_guest_status"
        accept-charset="UTF-8"
        method="post"
      >
        <input name="utf8" type="hidden" value="✓" /><input
          type="hidden"
          name="authenticity_token"
          value="gUi7rVYjRwN47tWAzkYN++97QCuvR+IAhiyqMHY/UO3tknf419s9mtFs6m25uKIH5+K6dBY4AAXT4h2ei4Qzmw=="
        />
        <div [hidden]="!this.guestName$">
          <app-event-static-info [guestFirstName]="this.guestName$"></app-event-static-info>
          <app-status-select [guestInviteCode]="this.inviteCode$"></app-status-select>
        </div>
        
        
        <div style="clear: both"></div>

        <!-- 								<div class="questions_wrapper">
                

              </div> -->
        <div style="clear: both"></div>
      </form>
      <br /><br style="clear: both" />
      <a
        id="status_wrong_number"
        style="position: relative; z-index: 5; margin-top: 20px; height: 20px"
        href="https://l.e2grsvp.com/e/378620854/wrong_number"
        >טעות במספר?</a
      >
    </div>
  </div>
</div>
