<!-- <div id="guestLanding" class="col-xs-12 guest-landing">
    <header id="logo" class="col-xs-12">
    </header>
    <div id="main" class="col-xs-12">
      <img id="background-image" src="assets/images/bg-transparent.png" class="col-xs-12 img-wrap" />
      <router-outlet></router-outlet>  
    </div>
  </div> -->  
	<img class="blue-flowers" src="assets/images/flowers_right.png" alt="Blue Flowers Image">
	<img class="red-flowers" src="assets/images/flowers_left.png" alt="Red Flowers Image">
	<!-- <img id="image" style="background-color: whitesmoke;" alt=""> -->
  <div class="bg">
    <router-outlet></router-outlet>  
  </div>
  
	<!-- <div class="row">
		<button class="button">Button 1</button>
		<button class="button">Button 2</button>
		<button class="button">Button 3</button>
	</div>
	<div class="row">
		<button class="button">Button 4</button>
		<button class="button">Button 5</button>
		<button class="button">Button 6</button>
	</div> -->