<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">אופסי!</h1>
          </div>

          <div class="contant_box_404">
            <h2 class="h2">לא נראה לנו שאתה אמור להיות כאן</h2>
            <p>אתה מוזמן לשלוח לנו מייל ולבקש את ההזמנה מחדש</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
