<div>
  <h1 id="title">
    <div>שלום {{guestFirstName}}</div>
    <div>!איזה כיף לראותך</div>
  </h1>
  <h3 id="secondary-title">
    <div>שירלי צדוק ויועד וולפסטל נרגשים להזמינך</div>
    <div>לחגוג את יום שמחתם</div>
  </h3>
  <div>
    <h1 class="eventDate">29/06/2023</h1>
    <h1 class="eventDate">19:30</h1>
  </div>  
  <div>
    <h2 style="margin-bottom: 0px">!פירגנו לכם ביום חמישי</h2>
    <h2 style="margin-top: 0px; margin-bottom: 20px;">בעדן-גן האירועים, ניר אליהו</h2>
    <div style="display: flex; flex-direction: column;">
      <add-to-calendar-button id="calendarButton" name="יועד ושירלי מתחתנים" startDate="2023-06-29" startTime="19:30"
        endDate="2023-06-30" endTime="02:00" timeZone="Asia/Jerusalem" location="עדן על המים, ישראל"
        organizer="יועד וולפסטל|yoadw20@gmail.com" buttonStyle="round" hideTextLabelButton size="10"
        options="'Apple','Google','iCal'">
      </add-to-calendar-button>
      <p id="calendarCaption">הוספה ליומן</p>
    </div>
  </div>
</div>