<div>
  <p>
    שלום {{guestFirstName}}, איזה כיף לראותך!
  </p>
  <p>
    שירלי צדוק ויועד וולפסטל נרגשים להזמינך לחגוג את יום שמחתם <br />
  </p>
  <div>
    <h2 class="eventDate">ב-29/06/2023</h2>
    <h2 class="eventDate">בשעה 19:30</h2>
  </div>
  <h4>פירגנו לכם ביום חמישי!</h4>
  <div>

    <h4>מקום האירוע: עדן על המים, ניר אליהו</h4>
    <add-to-calendar-button id="calendarButton" name="יועד ושירלי מתחתנים" startDate="2023-06-29" startTime="19:30"
      endDate="2023-06-30" endTime="02:00" timeZone="Asia/Jerusalem" location="עדן על המים, ישראל"
      organizer="יועד וולפסטל|yoadw20@gmail.com" buttonStyle="round" label="הוספה ליומן"
      options="'Apple','Google','iCal'"></add-to-calendar-button>
  </div>
</div>