<p>
  שלום {{guestFirstName}}, איזה כיף לראותך!
    <br />

    שירלי צדוק ויועד וולפסטל נרגשים להזמינכם לחגוג את יום שמחתם ביום חמישי ה-<br />
    <span id="eventDate">29/06/2023 בשעה 19:30</span>

    <span id="eventLocation"
      >מקום האירוע:
      <span style="font-weight: bold">עדן על המים, ניר אליהו</span></span
    >
  </p>

  <!-- <a
    class="cal-link"
    href="http://www.google.com/calendar/render?action=TEMPLATE&amp;text=%D7%92%D7%9C%20%D7%9C%D7%A9%D7%9D%20%D7%95%D7%90%D7%91%D7%99%D7%91%20%D7%90%D7%99%D7%9C%D7%AA&amp;dates=20220316T193000/20220316T203000&amp;details=19:30%20-%20%D7%97%D7%AA%D7%95%D7%A0%D7%94%20-%20%D7%92%D7%9F%20%D7%90%D7%A8%D7%95%D7%A2%D7%99%D7%9D%20%D7%92%D7%A0%D7%99%20%D7%9B%D7%A0%D7%A2%D7%9F%20-%20%D7%92%D7%9C%20%D7%9C%D7%A9%D7%9D%20%D7%95%D7%90%D7%91%D7%99%D7%91%20%D7%90%D7%99%D7%9C%D7%AA&amp;location=%D7%92%D7%9F%20%D7%90%D7%A8%D7%95%D7%A2%D7%99%D7%9D%20%D7%92%D7%A0%D7%99%20%D7%9B%D7%A0%D7%A2%D7%9F&amp;trp=false&amp;sprop=&amp;sprop=name:"
    target="_blank"
    rel="nofollow"
    >🗓 הוסיף/י ליומן</a
  > -->