p {
    /* padding: 0 10px;
    margin: 27px 0; */
    font-size: 21px;
    color: #333333;
    font-weight: normal;
    text-align: center;
}
#title {
    letter-spacing: 0.025em;
    word-spacing: 0.01em;
    color:black;
    margin: 27px 0;
    padding: 0 10px;
}
#secondary-title {
    color:rgb(48, 48, 48);
    margin: 27px 0;
    padding: 0 10px;
}
p, h1, h2, h3, h4 {
    font-family: 'Assistant';
    /* padding: 0 10px; */
    /* margin: 27px 0; */
    /* font-size: 21px; */
    color: #333333;
    font-weight: normal;
    text-align: center;
}
.eventDate {
    font-size: 50px;
    letter-spacing: 0.03em;
    margin: -15px 0;
    font-family: 'GveretLevin-AAA-Reular';
}
#calendarButton {
    position: relative;
    display: block;
    margin: auto;
}
.inline-flex-reversed{
    display: inline-flex;
    flex-flow: row-reverse;
    align-items: baseline;
    gap: 10px;
}