body {
    background-color: black;
    margin-left: 0;
    margin-right: 0;
}

#image {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    z-index: -1;
}

.button {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: grey;
    color: white;
}

body > div > div > div.swal2-actions > button.swal2-confirm.swal2-styled.swal2-default-outline:focus {
    box-shadow: 0 0 0 3px #e0904880;
}